
<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <div class="card formulario-pergunta">
            <div class="card-header">
                 <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form action="">
                    <label for="">Título</label>
                    <input class="form-control" type="text" name="" id="" placeholder="Título">
                    <br><label for="">Pergunta</label>
                    <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Escreva aqui sua pergunta"></textarea>
                    <br>
                    <button class="btn btn-primary">Perguntar</button>
                </form>
            </div>
        </div>  
    </div>
</body>
<%- include('partials/footer.ejs') %>
